.contact-container-outer{
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container-inner{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont{
    height:80%;
}

.map{
    overflow: hidden;
    border-radius: 10px;
    width: 60%;
    margin-right: 20px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;

}

.credential {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon {
    background-color: #133E87;
    color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 15px;
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 18px;
    color: #133E87;
}

@media (max-width: 768px) {

    .contact-container-outer {
        height: 900px;
        padding: 20px 20px;
    }

    .contact-container-inner {
        flex-direction: column;
        height: 100%;
        width: 95%;
        margin-top: 20px;
        justify-content: space-around;
    }

    .cont {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .map {
        width: 100%;
        height: 90%;
        margin-top: 20px;
        margin: 0px;
    }


    .contact {
        width: 50%;
        padding-left: 0;
        margin-right: 20px;
    }

    .credential {
        justify-content: flex-start;
    }
}
