.hero{
    background-color: #608BC1;
    margin-top: 0px;
}

.blue-bg{
    background-color: #133E87 !important; /* Saját kék */
    color: white !important; /* Fehér szöveg */
}

.lead{
    font-weight: 400 !important; /* Normál vastagság */
}

.hero-icon {
    font-size: 72px; /* vagy egy másik méret */
    color: #000; /* Ha szükséges, állítsd be a kívánt színt */
}