.form-wrapper {
    height: 80vh; /* Teljes képernyőmagasság */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .formmain {
    width: 100%;
    max-width: 400px; /* Kényelmes szélesség */
    padding: 1rem;
  }

  .login{
    background-color: #133E87 !important;
  }

  .regist{
    background-color: white !important;
    border: 2px solid #133E87 !important;
    color: #133E87 !important;
  }

  .form-signin{
    border:#133E87 2px solid !important;
    border-radius: 30px !important;
    background-color: rgb(96, 139, 193, 0.8);
  }

  .form-control{
    border-radius: 15px !important;;
    border:#133E87 2px solid !important;
  }