@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


.custom-navbar{
    border-bottom: 5px solid #133E87 !important; /* Saját kék */
}


.talppont{
    color: #133E87 !important; /* Saját kék */
    font-size: 3rem !important; /* Saját méret */
    font-family: 'Imperial Script', cursive !important; /* Saját betűtípus */
    font-weight: 400 !important; /* Saját vastagság */
    font-style: normal !important; /* Saját dőlt */
}

.nav-links .nav-link {
    font-size: 1.2rem; /* vagy pl. 20px */
    font-weight: 500;  /* ha kicsit vastagabb betű kell */
    position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: fit-content; /* Csak a szöveg szélességére vonatkozzon */
  }
  /* Navbar.css */
  
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #133E87;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .nav-link:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  
    .nav-link:not(:hover)::after {
      transform-origin: right;
      transform: scaleX(0);
    }
  }