@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


.custom-navbar{
    border-bottom: 5px solid #133E87 !important; /* Saját kék */
}


.talppont{
    color: #133E87 !important; /* Saját kék */
    font-size: 3rem !important; /* Saját méret */
    font-family: 'Imperial Script', cursive !important; /* Saját betűtípus */
    font-weight: 400 !important; /* Saját vastagság */
    font-style: normal !important; /* Saját dőlt */
}

/* Csak azokra a nav-linkekre vonatkozzon, amik nem dropdown-ok */
.nav-links > .nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  width: fit-content;
}

.nav-links > .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #133E87;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .nav-links > .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .nav-links > .nav-link:not(:hover)::after {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.dropdown{
    font-size: 1.2rem !important; /* Saját méret */
    font-weight: 400 !important; /* Saját vastagság */
    color: black !important; /* Saját kék */
}

.dropdown > .nav-link,
.dropdown .dropdown-toggle {
  color: black !important;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.nav-dropdown-text {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.nav-dropdown-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #133E87;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .nav-dropdown-text:hover::after {
    transform: scaleX(1);
  }

  .nav-dropdown-text:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
  }
}
