.reg-wrapper{
    width: 40% !important;
    background-color: white !important;
    border: 2px solid #133E87 !important;
    border-radius: 20px;
    padding: 30px !important;
}
.row{
    padding: 10px !important;
}
.react-datepicker-wrapper{
    padding: 0px !important;
}
