.reg-wrapper{
    width: 50% !important;
    max-width: 500px;
    background-color: white !important;
    border: 2px solid #133E87 !important;
    border-radius: 20px;
    padding: 30px !important;
}
.row{
    padding: 10px !important;
}
.react-datepicker-wrapper{
    padding: 0px !important;
}

.select__control{
    border: 2px solid #133E87 !important;
    border-radius: 10px !important;
}
makeanimated{
    padding: 0px !important;
}

.select{
    background-color: rgb(96, 139, 193);
}

.select__multi-value{
    background-color: rgb(96, 139, 193) !important;
    color: white !important;
    border-radius: 5px !important;
}
.select__multi-value__label{
    color: white !important;
}

.name-highlight{
    color: #133E87 !important;
    font-weight: bold !important;
    font-style: italic !important;
}

.password-hints {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #133E87;
  font-size: 0.9rem;
  width: fit-content;
  min-width: 50%;
  height: fit-content !important;

}

.password-hints .valid {
  color: green;
  font-weight: 500;
}

.password-hints .invalid {
  color: red;
}

.basic-multi-select{
    width: 100% !important;
    padding: 0px !important;
}






@media (max-width: 768px) {
  .reg-wrapper {
    width: 80% !important;
  }
}